@import 'variables';
@import 'font-size.module.scss';

footer {
    height: max-content;
    border-top-left-radius: $header-footer-border-radius;
    border-top-right-radius: $header-footer-border-radius;
    background-color: $white-color;
    box-shadow: $footer-box-shadow;
    .label {
        margin: 20px 10px;
        font-size: $medium-font-size;
    }
}