.content {
  width: 100%;
  min-height: -webkit-max-content;
  min-height: max-content;
}
.content .gallery {
  width: 90%;
  min-height: -webkit-max-content;
  min-height: max-content;
  height: 90%;
  margin: 30px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pokemon-card {
  width: 250px;
  min-height: 300px;
  margin: 20px 10px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 10px 15px #84848452;
}
.pokemon-card .pokemon-image {
  width: 100%;
  margin: 30px 0px;
  height: 170px;
  border-radius: 15px;
}
.pokemon-card .pokemon-image img {
  width: auto;
  height: 100%;
}
.pokemon-card .pokemon-name {
  height: 50px;
  font-size: 22px;
}
.pokemon-card .pokemon-abilities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.pokemon-card .pokemon-abilities .ability {
  width: -webkit-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: max-content;
  font-size: 16px;
  margin: 8px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px #84848436;
}
.pokemon-card .pokemon-abilities .ability span {
  margin: 5px 10px;
}
.pokemon-card .pokemon-abilities .red {
  border: 2px solid #f92121;
}
.pokemon-card .pokemon-abilities .red:hover {
  cursor: pointer;
  background-color: #f92121;
}
.pokemon-card .pokemon-abilities .green {
  border: 2px solid #4cee54;
}
.pokemon-card .pokemon-abilities .green:hover {
  cursor: pointer;
  background-color: #4cee54;
}
.pokemon-card:hover {
  cursor: pointer;
  box-shadow: 5px 15px 15px #68686852;
}