$main-font-size: 17px;
$main-font-family: 'Roboto', sans-serif;
$min-screen-width: 300px;
$max-container-width: 1200px;
$header-footer-border-radius: 20px;
$logo-font-size: 30px;

$body-bg-color: #f7f7f7;
$white-color: #fff;